In [ ]:
# install mysql-connector
%pip install mysql-connector-python

In [71]:
# libs
import mysql.connector as connector
from mysql.connector import errorcode

In [ ]:
# connection
def get_connection() -> connector.connection_cext.CMySQLConnection:
    try:
        connection = connector.connect(
            user="root",
            password="",
            database="LittleLemonDB",
            host="localhost",
            port=3306
            )
        return connection
    except connector.Error as e:
        if e.errno == errorcode.ER_ACCESS_DENIED_ERROR:
            print("connection user or password are incorrect")
        elif e.errno == errorcode.ER_BAD_DB_ERROR:
            print("database does not exist")
        else:
            print("Error code: ", e.errno)
            print("Error message: ", e.msg)

# mysql statements execution
def mysql_results(query: str, type='query', args=[]) -> None:
    connection = get_connection()
    cursor = connection.cursor()
    if type == 'procedure':
        cursor.callproc(query, args)
        [print(*i[0]) for i in [res.fetchall() for res in cursor.stored_results()]]
    else:
        cursor.execute(query)
        [print(*i) for i in cursor.fetchall()]
    connection.commit()
    cursor.close()
    connection.close()

In [ ]:
# show tables
query = 'SHOW tables;'
mysql_results(query)

addresses
bookings
categories
cuisines
customers
frequencyappearanceinorders
menu
orderitems
orders
ordersdeliverystatus
ordersview
roles
staff

In [ ]:
# select customers details from orders with total cost greater than 40
query = '''
select concat(Customers.firstName, ' ', Customers.lastName) as 'Full Name', Customers.email, Customers.phone, totalCost from Orders
inner join Customers on Orders.customerId = Customers.customerId where totalCost > 40;
'''
mysql_results(query)

Arthur Lopez arthurlopez@gmail.com 987895623 49.48
Lewis Fisher lewisfisher@gamil.com 987951535 55.80

### Get Maximum Quantity

In [ ]:
query = 'GetMaxQuantity'
mysql_results(query, 'procedure')

5

### Manage Booking

In [ ]:
args = ["2024-05-05", "12:30:00", 3, 3]
query = 'ManageBooking'
mysql_results(query, 'procedure', args)

Table 3 is already booked - booking cancelled

In [ ]:
args = ["2024-05-08", "13:30:00", 2, 5]
mysql_results(query, 'procedure', args)

Booking confirmed

### Add Booking

In [ ]:
args = ["2024-05-09", "13:30:00", 4, 4]
mysql_results(query, type='procedure', args=args)

Booking confirmed

### Update Booking

In [ ]:
args = [1, "2024-05-05", "12:30:00", 4]
query = "UpdateBooking"
mysql_results(query, 'procedure', args)

Updated Booking

In [ ]:
args = [2, "2024-05-05", "12:30:00", 4]
mysql_results(query, 'procedure', args)

Table 4 is already booked

### Cancel Booking

In [67]:
args = [11]
query = 'CancelBooking'
mysql_results(query, 'procedure', args)

Booking 11 cancelled